// colors
$blue: hsl(185, 75%, 39%);
$navy: hsl(229, 23%, 23%);
$gray500: hsl(227, 10%, 46%);
$border: hsl(228, 19%, 89%);
$gray100: hsl(225, 10%, 92%);
$white: hsl(0, 0%, 100%);

// font family 
$font: "Kumbh Sans", sans-serif;

// font weights
$regular: 400;
$bold: 700;